.wrapper {
    display: flex;
}

.user {
    display: flex;
}

.text {
    display: flex;
    font-size: 25px;
    padding: 5px;
    align-items: flex-end;
    font-weight: 400;
    margin: 0 0 0 10px;
    text-shadow: 1px 1px 1px black, 2px 2px 1px white;
}
