.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 100%;
    border-bottom: 2px solid darkgreen;
    background-color: rgba(46, 139, 87, 0.8);
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 2px solid darkgreen;
    padding-bottom: 5px;
}

.name {
    font-size: 30px;
    font-weight: 600;
    color: darkgreen;
    text-shadow: 1px 1px 1px black, 2px 2px 1px #0bda51;
}
.iconWrapper {
    display: inline-flex;
}
.messageContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 5px;
    background-color: darkgreen;
    color: aliceblue;
    border-radius: 2px;
}
