.wrapper {
    display: flex;
    justify-content: center;
    background-color: #029e7e;
    border: 2px solid darkgreen;
    border-radius: 2px;
    box-shadow: 0 0 5px lightgreen;
    padding: 5px;
}
