.channelsWrapper {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 0;
    background-color: rgba(46, 139, 87, 0.8);
    text-shadow: 1px 1px 1px black, 2px 2px 1px #0bda51;
}

.msgContainer {
    display: flex;
    flex-direction: column;
}

.msg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 5px;
    margin: 0;
    background-color: #2e8b57;
    text-shadow: 1px 1px 1px black, 2px 2px 1px #0bda51;
}
