.warningContainer {
    display: flex;
    justify-content: center;
}
.deleteWarning {
    color: #e32636;
    font-size: 20px;
    padding: 0 5px 0 0;
    margin: 0;
    text-shadow: 1px 1px 1px black, 2px 2px 2px black;
}

.deleteWarningLabel {
    color: #e32636;
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
    text-shadow: 1px 1px 1px black, 2px 2px 2px black;
}
error {
    margin: 0;
}

.deleteInput {
    padding: 5px 50px;
}

.delete {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button {
    padding: 0 10px;
    font-size: 30px;
    text-shadow: 1px 1px 1px black, 2px 2px 1px #0bda51;
    background-color: #029e7e;
}

.indivError {
    display: flex;
    font-size: 25px;
    margin: 5px 0;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
}
