.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #195905;
    border-radius: 5px;
    padding: 10px;
}

.messages {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.chat {
    display: flex;
}
