.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalButton {
    font-size: 20px;
    display: flex;
    border: 2px solid darkgreen;
    border-radius: 2px;
    box-shadow: 0 0 5px lightgreen;
    border-style: inset;
    background-color: green;
    padding: 5px;
}

.modalButton:hover {
    font-weight: bold;
    background-color: #0bda51;
}
