.modalContainer {
    display: flex;
    justify-content: center;
}

.modalButton {
    border: 2px solid lightgreen;
    border-radius: 2px;
    box-shadow: 0 0 5px lightgreen;
    border-style: inset;
    background-color: cyan;
}

.form {
    display: flex;
}
