.footerContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-color: aliceblue;
    border-top-style: solid;
    border-top-width: 2px;
    background-color: #087830;
}
.logoContainer,
.linkedIn,
.github,
img {
    position: relative;
    max-width: 6vh;
    align-content: center;
}
.dev {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
