.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
}

.dev {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        ". linkedin github"
        "name linkedin github";
    justify-content: center;
    align-items: center;
    border-color: aliceblue;
    border-style: solid;
    border-width: 2px;
    background: no-repeat center center
        url(https://fantasydepthchart.s3.us-west-1.amazonaws.com/Assets/sideline_cropped.jpg);
    background-size: cover;
    min-height: 5vh;
}

.linkedIn {
    grid-area: linkedin;
    display: flex;
    justify-content: flex-end;
}

.github {
    grid-area: github;
}

img {
    max-width: 75px;
    max-height: 75px;
}

.name {
    grid-area: name;
    font-weight: 600;
    font-size: 1.5rem;
}
