.name {
    font-size: 20px;
    text-shadow: 1px 1px 1px black, 2px 2px 1px #0bda51;
}

.selectFriend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #029e7e;
    min-width: 100%;
    padding: 0 15px;
}

.selectFriend:hover {
    background-color: #0bda51;
    color: #014421;
}
