.friendWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #029e7e;
    min-width: 100%;
    padding: 0 100px;
}

.name {
    font-size: 20px;
    text-shadow: 1px 1px 1px black, 2px 2px 1px #0bda51;
}
