.wrapper {
    display: flex;
    padding: 5px;
    pointer-events: none;
}

.username {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.5rem;
    font-weight: 600;
    color: darkgreen;
    text-shadow: 1px 1px 1px black, 2px 2px 1px #0bda51;
}
