.homeWrapper {
    display: flex;
    margin: 0;
    height: 93%;
    background-color: #1e4d2b;
}

.servers {
    display: flex;
    background-color: #2e8b57;
    padding: 0 10px;
}

.messages {
    display: flex;
}
