.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-color: aliceblue;
    border-style: solid;
    border-width: 2px;
    background-image: url(https://fantasydepthchart.s3.us-west-1.amazonaws.com/NFL_logos/Assets/sideline_cropped.jpg);
    background-size: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.navLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.link {
    text-decoration: none;
    border: 2px solid darkgreen;
    border-radius: 2px;
    box-shadow: 0 0 5px lightgreen;
    border-style: inset;
    background-color: green;
    font-size: 20px;
    color: black;
    padding: 10px;
}
.link:hover {
    font-weight: bold;
    background-color: #0bda51;
}

.active {
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: #0bda51;
}

.users {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.login {
    display: flex;
    padding: 5px;
}

.logout {
    display: flex;
    padding: 5px;
}

.edit {
    display: flex;
    padding: 5px;
}
