.form {
    background-color: #195905;
    border-radius: 5px;
    padding: 10px;
}

.field {
    color: black;
    border: 4px solid #029e7e;
    padding: 25px;
}

.legend {
    background-color: #029e7e;
    font-size: 30px;
    padding: 5px;
    text-shadow: 1px 1px 1px black, 2px 2px 1px #0bda51;
    border-radius: 5px;
    color: black;
}

.usernameWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.usernameLabel {
    justify-content: center;
    color: #029e7e;
    font-size: 30px;
    padding: 0 5px 0 0;
    text-shadow: 1px 1px 1px black, 2px 2px 2px black;
}

.avatarWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarLabel {
    justify-content: center;
    color: #029e7e;
    font-size: 30px;
    padding: 0 5px 0 0;
    text-shadow: 1px 1px 1px black, 2px 2px 2px black;
}

.emailWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.emailLabel {
    justify-content: center;
    color: #029e7e;
    font-size: 30px;
    padding: 0 5px 0 0;
    text-shadow: 1px 1px 1px black, 2px 2px 2px black;
}

.passwordWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.passwordLabel {
    justify-content: center;
    color: #029e7e;
    font-size: 30px;
    padding: 0 5px 0 0;
    text-shadow: 1px 1px 1px black, 2px 2px 2px black;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button {
    width: 150px;
    font-size: 20px;
    font-weight: 800;
    background-color: #029e7e;
}
