label {
    display: flex;
    color: #029e7e;
    font-size: 30px;
    padding: 0 5px 0 0;
    text-shadow: 1px 1px 1px black, 2px 2px 2px black;
}
/* input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"] {
    font-size: 1rem;
} */

.form {
    position: relative;
    box-sizing: border-box;
    background-color: #195905;
    border-radius: 5px;
    padding: 5px;
    width: 32vw;
    height: 46vh;
    margin: 0;
}

.field {
    box-sizing: border-box;
    color: black;
    border: 4px solid #029e7e;
    padding: 25px;
    width: 31vw;
    height: 44vh;
    margin: 2px;
}

.legend {
    background-color: #029e7e;
    font-size: 30px;
    padding: 5px;
    text-shadow: 1px 1px 1px black, 2px 2px 1px #0bda51;
    border-radius: 5px;
    color: black;
}

.usernameWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.avatarWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.emailWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.passwordWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    width: 150px;
    font-size: 20px;
    font-weight: 800;
    background-color: #029e7e;
}
