.wrapper {
    display: flex;
    margin: 0;
    min-height: 100%;
    background-image: url(https://fantasydepthchart.s3.us-west-1.amazonaws.com/Assets/stadium_from_above_horizontal.jpg);
    background-size: cover;
}

.servers {
    display: flex;
    background-color: transparent;
    padding: 5px 10px;
    max-height: 95%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.channels {
    display: flex;
    flex-direction: column;
    max-height: 95%;
    overflow-y: auto;
    scroll-behavior: smooth;
}
