.wrapper {
    display: flex;
    margin: 0;
    height: 100%;
    background-image: url(https://fantasydepthchart.s3.us-west-1.amazonaws.com/NFL_logos/Assets/stadium_from_above_horizontal.jpg);
    background-size: 100% 93%;
}

.servers {
    display: flex;
    background-color: #2e8b57;
    padding: 0 10px;
}

.channels {
    display: flex;
    flex-direction: column;
    max-height: 98%;
}
