.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.channelInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.name {
    font-size: 30px;
    font-weight: 400px;
    color: darkgreen;
    text-shadow: 1px 1px 1px black, 2px 2px 1px #0bda51;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: darkgreen;
    color: aliceblue;
    border-radius: 5px;
}
