.wrapper {
    display: flex;
    flex-direction: column;
}

.topbar {
    display: grid;
}

.button {
    min-width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5px;
    margin: 0.5px;
    background-color: #029e7e;
}
