.wrapper {
    display: flex;
    flex-direction: column;
    max-height: 93%;
}

.messages {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid darkgreen;
    color: #1e4d2b;
    font-size: 40px;
    margin: 0;
    text-shadow: 1px 1px 1px black, 2px 2px 2px black;
}
