.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    margin: 0.5px;
    background-color: #029e7e;
    border-bottom: 2px solid darkgreen;
}

.icon {
    height: 50px;
    width: 50px;
}

.channelInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.name {
    font-size: 30px;
    font-weight: 600;
    color: darkgreen;
    text-shadow: 1px 1px 1px black, 2px 2px 1px #0bda51;
}
