.wrapper {
    margin: 0 8px;
}
.newMessage {
    display: flex;
    width: 100%;
    position: sticky;
    bottom: 0;
}

.messageInput {
    width: 100%;
}

.errors {
    background-color: red;
}

.error {
    color: black;
}
