/*
* This media query is used for: iPhone 13 Pro Max and iPhone 12 Pro Max
* 2778x1284 pixels at 458ppi
*/
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
}


/*
* This code is for large monitor 
*/
@media only screen and (min-width: 768px) {
    
}

.background {
    background-image: url(https://fantasydepthchart.s3.us-west-1.amazonaws.com/Assets/stadium_from_above_horizontal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
}

.contentWrapper {
    display: grid;
    grid-template-columns: 0.5fr 7.5fr 2fr;
    grid-template-rows: 86vh;
    grid-template-areas: "servers main friends";
}

.servers {
    grid-area: servers;
    background-color: transparent;
    padding: 5px 10px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.servers::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.main {
    grid-area: main;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.main::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.friends {
    grid-area: friends;
    margin: 5px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.friends::-webkit-scrollbar {
    width: 0;
    height: 0;
}
