.error {
    color: red;
}

.success {
    color: #0bda51;
}

.formControl {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "label" "error" "input";
    align-items: center;
}

input[type="email"],
input[type="text"],
input[type="url"],
input[type="password"] {
    width: 90%;
}

.valid input[type="email"],
.valid input[type="text"],
.valid input[type="url"],
.valid input[type="password"] {
    border-color: #0bda51;
    width: 90%;
    font-size: 1rem;
}

.valid .feedback {
    color: #0bda51;
}

.invalid input[type="email"],
.invalid input[type="text"],
.invalid input[type="url"],
.invalid input[type="password"] {
    border-color: red;
    width: 90%;
    font-size: 1rem;
}

.invalid .feedback {
    color: red;
}

.textXs {
    overflow-wrap: break-word;
    word-break: break-word;
    width: 216px;
    color: black;
    font-weight: 600;
    font-size: 15px;
    padding-top: 5px;
}
