.input-feedback {
    color: red;
    margin-top: 0.25rem;
}

.error {
    color: red;
}

.success {
    color: #0bda51;
}

.form-control {
    margin-top: 1rem;
}

.valid input[type="email"],
.valid input[type="text"],
.valid input[type="number"] {
    border-color:#0bda51;
}

.valid .feedback {
    color: #0bda51;
}

.invalid input[type="email"],
.invalid input[type="text"],
.invalid input[type="number"] {
    border-color: red;
}

.invalid .feedback {
    color: red;
}
